html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, 'Open Sans', 'DejaVu Sans',
    BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: inherit;
  text-decoration: none;
}
