.header,
.footer {
  min-height: 1rem;
  text-align: center;
}

.header {
  padding-top: 0.5rem;
}

.main {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
